


header{background-color: #000000;
position:fixed; top:0px; left: 0px;
width: 100%;
padding: 5px;
text-align: center;}

body {font-family: 'Helvetica', 'Arial', sans-serif; font-size: 14pt;
line-height: 18pt;
color: #000000;
background-color: white;
padding-top: 110px;
}




nav {font-family: 'Helvetica';
font-size: 18pt;
line-height: 18pt;
font-weight: bold;
color: #cdcdcd; 
padding: 15px;
margin-right: 20px;}

main{background-color: #cdcdcd;
display: grid;grid-template-columns:  75% 25%;}

h1{font-family: 'Teko';
font-size: 72pt;
line-height: 18pt;
font-weight: bold;
color: black;}

h2{font-family: 'Helvetica';
font-size: 24pt;
line-height: 18pt;
font-weight: bold;
color: black;}

footer{font-family: 'Helvetica';
font-size: 10pt;
line-height: 18pt;
font-style: oblique;
color: #ffffff;
background-color: #000000;
padding: 60px;
text-align: center;}



nav a {color: #FFFFFF; 
text-decoration: none;
margin-right: 20px;}

article{margin-bottom: 20px;
margin-left: 30px;}


ul{margin-left: 10px;}



#splash{background-image: url(heading.jpg);
    background-size: cover;
    height: 400px;
    display: grid; grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#foodarticle
{height: 100px;
margin-left: 35px;}


.floatleft{float: left;
margin-right: 20px;
margin-bottom: 20px;
}

#container{margin-left: auto;
margin-right: auto;
width: 1000px;
margin: auto;}

#book {background-color: #ff0000;
position: fixed; right: px; bottom:0px;
margin-left:800px;
padding: 10px;}